body {
	font-family: 'Lato', sans-serif;
	background-color: lightblue ;
}

@-webkit-keyframes COLORS {
  0%  { background-color: blue; }
  10% { background-color: purple; }
  20% { background-color: pink; }
  30% { background-color: red; }
  40% { background-color: orange; }
  50% { background-color: yellow; }
  60% { background-color: aqua; }
  70% { background-color: green; }
  80% { background-color: gold; }
  90% { background-color: orchid; }
  100% {background-color: darkorange; }
}
@-moz-keyframes COLORS {
  0%  { background-color: blue; }
  10% { background-color: purple; }
  20% { background-color: pink; }
  30% { background-color: red; }
  40% { background-color: orange; }
  50% { background-color: yellow; }
  60% { background-color: aqua; }
  70% { background-color: green; }
  80% { background-color: gold; }
  90% { background-color: orchid; }
}
@-o-keyframes COLORS {
  0%  { background-color: blue; }
  10% { background-color: purple; }
  20% { background-color: pink; }
  30% { background-color: red; }
  40% { background-color: orange; }
  50% { background-color: yellow; }
  60% { background-color: aqua; }
  70% { background-color: green; }
  80% { background-color: gold; }
  90% { background-color: orchid; }
}
@keyframes COLORS {
  0%  { background-color: blue; }
  10% { background-color: purple; }
  20% { background-color: pink; }
  30% { background-color: red; }
  40% { background-color: orange; }
  50% { background-color: yellow; }
  60% { background-color: aqua; }
  70% { background-color: green; }
  80% { background-color: gold; }
  90% { background-color: orchid; }
}

.lb-1 {
	padding-top: 20vh;
	margin-top: 0;
	animation: COLORS 2s;
	height: 100vh;
	width: 100vw;
	background-color: lightblue;
	color: white;
	font-weight: 300;
	font-size: 4em;

}

.intro-holder {
	text-align: center;
}

.lb-2 {
	margin-top: 0;
	height: 100vh;
	max-width: 100vw;
	background-color: lightblue;
	margin-bottom: 0;
	position: relative;
}

.navbar {
	height: 20vh;
	background-color: #FFF;
	border-bottom: 1px solid #EEE;
	border-radius: 0;
}

.item-holder {
	margin-top: 12vh;
	display: flex;
	position: absolute;
	font-size: 1.5em;
}

.item {
	display: inline-block;
	padding-left: 1vw;
	padding-right: 1vw;
	position: relative;
}

.item a, a:hover {
	text-decoration: none;
	color: #DDDDDD;
}

.item a:hover {
	color: #BBBBBB;
}

a.active {
	border-bottom: 2px solid black;
	color: black;
}

a.active:hover {
	color: black;
}

.my-approach-holder {
	display: flex;
	margin-top: 10vh;
	justify-content: left;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.my-approach, .changing-text {
	display: inline-block;
	color: white;
	margin-right: .2em;
  font-size: 4.5em;

}

.arrow-1 {
	display: inline-block;
}


.float-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.float-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

.float-right {
	float: right;
}

.float-left {
	float-left;
}


.lb-3 {
	position: relative;
	margin-top: 0;
	min-height: 100vh;
	height: auto;
	max-width: 100vw;
	background-color: #E6BBAD;
}


@media (max-width: 768px) {
	.lb-3 {
		padding-bottom: 20vh;
	}
}
.project-title {
	height: 20vh;
	background-color: white;
	float: left;
}

.project-page-title {
	display: inline-block;
	margin-left: 5vw;
	color: white;
	font-size: 4em;
	padding-bottom: 1vh;
	border-bottom: 3px solid white;
}

.projects-container-1 {
	max-width: 90%;
	margin-top: 2vh;
	margin-left: 3vw;
	margin-right: 3vw;
}

.projects-container-2 {
	max-width: 90%;
	margin-top: 2vh;
	margin-left: 3vw;
	margin-right: 3vw;
}


.project-holder {
	position: relative;
	overflow: hidden;
	max-height: 40vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	transform: scale(1);
	transition: transform .5s ease;
	text-align: center;
}

.project-holder:hover {

	transform: scale(1.05);
	transition: transform .25s ease;
}
.project-photo {
	display: inline-block;
	height: 100%;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.project-hover-info {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	display: none;
}

.img-title {
	text-align: center;
  color: white;
  margin-top: 50%;
  font-size: 2em;
}

.img-info {
	color: white;
	font-size: 1.2em;
	text-align: center;
}


/* About */

.lb-4 {
	position: relative;
	margin-top: 0;
	min-height: 100vh;
	height: auto;
	max-width: 100%;
	background-color: lightblue;
	color: white;
}

.about-title-container {
	max-width: 100%;
}

.about-title {
	display: inline-block;
	margin-left: 5vw;
	color: white;
	font-size: 4em;
	padding-bottom: 1vh;
	border-bottom: 3px solid white;
}

.yes-button {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	background-color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	transform: scale(1);
	transition: transform .5s ease;
}

.yes-button:hover {

	transform: scale(1.05);
	transition: transform .25s ease;
}

.yes-button p {
	font-size: 3em;
	text-align: center;
	color: lightblue;
	margin: 0;
	font-weight: 400;
}

.what-hear-holder {
	margin-top: 10vh;
	text-align: center;
}

.what-hear-title-container {

}

.what-hear-title {
	font-size: 2em;
}
.what-hear-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.what-hear-button {
	width: 250px;
	display: inline-block;
  font-size: 2.5em;
  color: lightblue;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 3vh;
  margin-left: 1vw;
  margin-right: 1vw;
  transform: scale(1);
	transition: transform .5s ease;
}

.what-hear-button:hover {

	transform: scale(1.05);
	transition: transform .25s ease;
}

.about-me-container {
	margin-top: 5vh;
	min-height: 50vh;
	height: auto;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
  padding: 3vh;
  font-weight: 400;
}

.about-me-title {
	font-size: 2em;
	margin-top: 0;
}

@media (max-width: 415px) {
	.about-me-title {
		font-size: 1.5em;
	}
}

@media (max-width: 900px) and (min-width: 768px) {
	.about-title {
		font-size: 3em;
	}

	.project-page-title {
		font-size: 3em;
	}

}

@media (max-width: 769px) and (min-width: 565px) {
	.about-title {
		font-size: 2.5em;
	}

	.project-page-title {
		font-size: 2.5em;
	}
}

@media (max-width: 630px) {
	.what-hear-holder {
		margin-top: 5vh;
	}

	.what-hear-title {
		font-size: 2em;
	}
}

@media (max-width: 658px) {
	.lb-4 {
		padding-bottom: 5vh;
	}
}

@media (max-width: 566px) and (min-width: 473px) {
	.about-title {
		font-size: 2em;
	}

	.project-page-title {
		font-size: 2em;
	}

}

@media (max-width: 474px) and (min-width: 375px) {

	.about-title {
		font-size: 1.6em;
	}

	.project-page-title {
		font-size: 1.6em;
	}

	.about-me-title {
		font-size: 1.3em;
	}

	.about-me-text {
		font-size: .8em;
	}

	.about-me-container {
		margin-top: 0vh;
	}

}

@media (max-width: 376px) {

	.about-title {
		font-size: 1.4em;
	}
	.about-me-container {
		margin-top: 0;
	}

	.project-page-title {
		font-size: 1.4em;
	}

	.about-me-title {
		font-size: 1.1em;
	}

	.about-me-text {
		font-size: .7em;
	}

}


@media (max-width: 566px) {
	.what-hear-title-container {
		padding-left: 5vw;
		padding-right: 5vw;
	}
	.about-title-container {
		padding-left: 5vw;
		padding-right: 5v2;
	}
}

.back-button {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	background-color: white;
	text-align: center;
}

.back-button p {
	font-size: 2em;
	text-align: center;
	color: lightblue;
	margin: 0;
	font-weight: 400;
}

.about-me-text a {
	text-decoration: none;
	color: white;
}

.about-me-text a:hover {
	text-decoration: none;
	color: #EEE;
}

.about-text-holder {
	margin-top: 10vh;
	padding-top: 20px;
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	text-align: center;
	font-size: 3em;
}


/*Contact Page*/

.lb-5 {
	position: relative;
	margin-top: 0;
	min-height: 100vh;
	height: auto;
	max-width: 100%;
	background-color: #E6BBAD;
	padding-bottom: 1vh;
}

.lb-5 a {
	text-decoration: none;
}

.lb-5 a:hover {
	text-decoration: none;
	color: #EEEEEE;
}

.contact-button {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	background-color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	transform: scale(1);
	transition: transform .25s ease;
}

.contact-button:hover {
	transform: scale(1.05);
	transition: transform .25s ease;
}

.contact-button p {
	font-size: 5em;
	text-align: center;
	color: #E6BBAD;
	margin: 0;
	font-weight: 400;
}

@media (max-width: 763px) {
	.contact-button {
		width: 400px;
	}

	.contact-button p {
		font-size: 4em;
	}
}

@media (max-width: 500px) {
	.contact-button {
		width: 300px;
	}

	.contact-button p {
		font-size: 3em;
	}
}

@media (max-width: 375px) {
	.contact-button {
		width: 200px;
	}

	.contact-button p {
		font-size: 2em;
	}
}


input#name, input#email, input#comment {
	display: inline-block;
	background-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 60%;
}

@media (max-width: 473px) {
	input#name, input#email, input#comment  {
		width: 80%;
	}
}

textarea#comment {
	display: inline-block;
	background-color: transparent;
  box-shadow: none;
  border: none;
  border: 2px solid white;
  color: white;
}

input:focus {
	box-shadow: none;
	outline: none;
}

.form-title {
	color: white;
	text-align: center;
	margin-bottom: 7vh;
}

@media (max-width: 473px) {
	.form-title {
		font-size: 2em;
	}
}

@media (max-width: 375px) {
	.form-title {
		font-size: 1.8em;
	}
}

.email-form-container {
	margin-top: 10vh;
}
.email-input {
	text-align: center;
	color: white;
	font-size: 1.8em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}



textarea#comment:focus {
	box-shadow: none;
	outline: none;	
	margin-bottom: 5vh;
}

input[type=submit] {

	width: 250px;
	border: none;
	box-shadow: none;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	transform: scale(1);
	transition: transform .25s ease;
	font-size: 2em;
	text-align: center;
	color: #E6BBAD;
	font-weight: 400;
	margin-top: 10vh;
}

input[type=submit]:hover {
	transform: scale(1.05);
	transition: transform .25s ease;
}

/* Scrollbar */

::-webkit-scrollbar
{
  width: 16px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(255, 255, 255, 0.5);
  height: 5px;
}

::-webkit-scrollbar-track-piece {
}

::-webkit-resizer {
	background: #E6BBAD;
}

/* Media Queries */

@media (max-width: 875px) and (min-width: 768px) {
	.my-approach {
		font-size: 3.75em;
	}
}

@media (max-width: 769px) and (min-width: 620px) {
	.my-approach {
		font-size: 3.25em;
	}

	img.arrow-1, img.arrow-2 {
		height: 110px;
	}
}

@media (max-width: 621px) and (min-width: 473px) {
	.my-approach {
		font-size: 2.45em;
	}

	img.arrow-1, img.arrow-2 {
		height: 100px;
	}
}

@media (max-width: 474px) and (min-width: 375px) {
	.my-approach {
		font-size: 3em;
	}

	img.arrow-1, img.arrow-2 {
		height: 90px;
	}

	.item-holder {

	}

	.lb-1 {
		font-size: 3em;
	}
}

@media (max-width: 420px) {
	.item-holder {
		justify-content: center;
		padding-left: 0;
		width: 100%;
	}
	
	.lb-1 {
		font-size: 3em;
	}
}
@media (max-width: 376px) {

	.item-holder {
		font-size: 1.25em;
	}

	.my-approach {
		font-size: 2.5em;
	}

	img.arrow-1, img.arrow-2 {
		height: 80px;
	}

}